<p id="notice"><%= notice %></p>

<p>
  <strong>Album:</strong>
  <%= @foto.album %>
</p>

<p>
  <strong>Position:</strong>
  <%= @foto.position %>
</p>

<%= link_to 'Edit', edit_foto_path(@foto) %> |
<%= link_to 'Back', fotos_path %>
